<template>
  <div id="app" data-app="true">
    <span> Select a timezone </span>
    <v-autocomplete :items="continentNameList" @change="continentSelected"></v-autocomplete>
    <v-autocomplete :disabled="!selectedContinent" :items="countryNameList" @change="countrySelected"></v-autocomplete>
    <div v-if="selectedTime">
      <h3>
        The time in {{ selectedContinent }} / {{ selectedTimezone }} is {{ selectedTime }}
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      items: [
      ],
      continentNameList: [],
      countryNameList: [],
      selectedContinent: null,
      selectedTimezone: null,
      selectedTime: null,
      search: null
    }
  },
  methods: {
    continentSelected (continent) {
      this.selectedContinent = continent
      this.items.forEach(area => {
        if (area.name === this.selectedContinent) {
          this.countryNameList = area.countries
        }
      })
    },
    countrySelected (area) {
      this.selectedTimezone = area
      fetch(`http://worldtimeapi.org/api/timezone/${this.selectedContinent}/${area}`)
        .then(response => response.json())
        .then(data => {
          this.selectedTime = data.datetime.split('T')[1].split('.')[0]
        })
        .catch(error => {
          // Errors to be catched here
          console.log(error)
        })
    },
    
    getContinents (region) {
      const continentName = region.split('/')[0]
      const countryName = region.split('/')[1]
      let existsWithinDictionary = false
      const continentObject = {
        name: continentName,
        countries: []
      }
      this.items.forEach(continent => {
        if (continent.name === continentName) {
          existsWithinDictionary = true
        }
      })
      if (!existsWithinDictionary) {
        this.items.push(continentObject)
      }
      this.items.forEach(continent => {
        if (continent.name === continentName) {
          continent.countries.push(countryName)
        }
      })
    }
  },
  mounted () {
    // List of Timezones: http://worldtimeapi.org/api/timezone
    // Select Area http://worldtimeapi.org/api/timezone/:area
    fetch('http://worldtimeapi.org/api/timezone')
      .then(response => response.json())
      .then(data => {
        data.forEach(region => {
          this.getContinents(region)
        })
        this.items.forEach(continent => {
          this.continentNameList.push(continent.name)
        })
      })
      .catch(error => {
        // Errors to be catched here
        console.log(error)
      })
      
  }
}
</script>
